#init-showing {
  display: none;
}
#init-Brownie-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickableBrownie {
  cursor: pointer;
  color: #0088cc;
}

.clickableBrownie:hover {
  text-decoration: underline;
}